{% block slider %}
<section id="home-section" class="hero">
  <div class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url({% static 'images/bg_n1.jpg' %});">
      <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

        <div class="col-md-12 ftco-animate text-center">
          <h1 class="mb-2">We are here to help you in Farming </h1>
          <h2 class="subheading mb-4">We can develop organic vegetables &amp; fruits</h2>
          <p><a href="shop" class="btn btn-primary">Shop now</a></p>
        </div>

      </div>
    </div>
  </div>

  <div class="slider-item" style="background-image: url({% static 'images/bg_n2.jpg' %});">
      <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

        <div class="col-sm-12 ftco-animate text-center">
          <h1 class="mb-2">Let's Farm Together for you &amp; Nation</h1>
          <h2 class="subheading mb-4">We can develop organic vegetables &amp; fruits</h2>
          <p><a href="shop" class="btn btn-primary">Shop now</a></p>
        </div>

      </div>
    </div>
  </div>
</div>
</section>

{% endblock %}