{% extends 'user/userbase.html' %}
{% load static %}
{% block Content1 %}
<form action="/placeorder/" method="post">{% csrf_token %}
    <table>
        <tr>
            <th>
                <h2>Product Details</h2>
            </th>
            <td></td>
        </tr>
        <tr>
            <th>Product Id<br /><br /></th>
            <td><input type="number" name="pid" value="{{pro.pid}}" readonly /><br /><br /></td>
        </tr>
        <tr>
            <th>Product Name<br /><br /></th>
            <td><input type="text" name="pname" value="{{pro.pname}}" readonly /><br /><br /></td>
        </tr>
        <tr>
            <th>Quantity<br /><br /></th>
            <td><input type="number" name="q1" id="q1" value="{{q1}}" readonly><br /><br /></td>
        </tr>
        <tr>
            <th>Price<br /><br /><br><br></th>
            <td><input type="number" id="p1" name="price" value="{{pro.price}}" readonly /> <br /><br /><br><br></td>
        </tr>
        <tr>
            <th>
                <h2>Delivery Details</h2>
            </th>
            <td></td>
        </tr>

        <tr>
            <th>First Name<br /><br /></th>
            <td><input type="text" name="fname" /><br /><br /></td>
        </tr>
        <tr>
            <th>Last name<br /><br /></th>
            <td><input type="text" name="lname" /><br /><br /></td>
        </tr>

        <tr>
            <th>Address line 1<br /><br /></th>
            <td><input type="text" name="add1" maxlength="20" /><br /><br /></td>
        </tr>
        <tr>
            <th>Address line 2<br /><br /></th>
            <td><input type="text" name="add2" maxlength="20" /><br /><br /></td>
        </tr>
        <tr>
            <th>Address line 3<br /><br /></th>
            <td><input type="text" name="add3" maxlength="20" /><br /><br /></td>
        </tr>
        <tr>
            <th>Phone Number<br /><br /></th>
            <td><input type="text" name="ph" maxlength="10" /><br /><br /></td>
        </tr>
        <tr>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <td></td>
        </tr>

        <tr>
            <th>
                <h2>Payment Details</h2><br />
            </th>
            <td></td>
        </tr>
        <tr>
            <th>Card Number<br /><br /></th>
            <td><input type="text" name="card" /><br /><br /></td>
        </tr>
        <tr>
            <th>CVV<br /><br /></th>
            <td><input type="text" name="cvv" maxlength="3" /><br /><br /></td>
        </tr>

        <tr>
            <th>Total Amount<br /><br /><br><br></th>
            <td><input type="number" id="p2" name="total" value="{{total}}" readonly /> <br /><br /><br><br></td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="Proceed to Pay" /></td>
        </tr>

        <th></th>
        <td><br /><br /></td>
    </table>
</form>


<!-- <section class="ftco-section ftco-cart">
    <form action="/placeorder/" method="post">
        {% csrf_token %}
    <div class="container">
        <div class="row">
        <div class="col-md-12 ftco-animate">
            <div class="cart-list">
                <table class="table">
                    <thead class="thead-primary">
                      <tr class="text-center">
                    
                        <th>Product Details</th>
                      </tr>
                    
                    </thead>
                

                  </table>
              </div>
        </div>
    </div>
    </div>
<div class="container">
        <div class="row">
        <div class="col-md-12 ftco-animate">
            <div class="cart-list">
                <table class="table">
                    <tbody>
                        <tr class="text-center">
                            <th> Product Id </th>
                            <th> <input type="text" value="{{pro.pid}}" readonly></th>
                        </tr>
                        <tr class="text-center">
                            <th> Product Name </th>
                            <th> <input type="text" value="{{pro.pname}}" readonly></th>
                        </tr>
                        <tr class="text-center">
                            <th> Quantity</th>
                            <th> <input type="text" value="{{q1}}" readonly></th>
                        </tr>
                        <tr class="text-center">
                            <th> Price </th>
                            <th> <input type="text" value="{{pro.price}}" readonly></th>
                        </tr>    
                    
                    </tbody>

                  </table>
              </div>
        </div>
    </div>
    </div>
<div class="container">
        <div class="row">
        <div class="col-md-12 ftco-animate">
            <div class="cart-list">
                <table class="table">
                    <thead class="thead-primary">
                      <tr class="text-center">
                    
                        <th>Delivery Details</th>
                      </tr>
                   
                    </thead>
                    <tbody>
      
                    </tbody>

                  </table>
              </div>
        </div>
    </div>
    </div>
<div class="container">
        <div class="row">
        <div class="col-md-12 ftco-animate">
            <div class="cart-list">
                <table class="table">
                    <tbody>
                        <tr class="text-center">
                            <th> First Name </th>
                            <th> <input type="text" name="fname"/></th>
                        </tr>
                        <tr class="text-center">
                            <th> Last Name </th>
                            <th> <input type="text" name="lname" /></th>
                        </tr>
                        <tr class="text-center">
                            <th> Address Line 1 </th>
                            <th> <input type="text" name="add1" maxlength="20" /></th>
                        </tr>
                        <tr class="text-center">
                            <th> Address Line 2 </th>
                            <th> <input type="text" name="add2" maxlength="20" /></th>
                        </tr>
                        <tr class="text-center">
                            <th> Address Line 3 </th>
                            <th> <input type="text" name="add3" maxlength="20" /></th>
                        </tr>
                        <tr class="text-center">
                            <th> Phone Number </th>
                            <th> <input type="text" name="ph" maxlength="10" /></th>
                        </tr>
    
                    </tbody>

                  </table>
              </div>
        </div>
    </div>
    </div>
<div class="container">
        <div class="row">
        <div class="col-md-12 ftco-animate">
            <div class="cart-list">
                <table class="table">
                    <thead class="thead-primary">
                      <tr class="text-center">
                    
                        <th>Payment Details</th>
                      </tr>  
                    </thead>
                  </table>
              </div>
        </div>
    </div>
    </div>
<div class="container">
        <div class="row">
        <div class="col-md-12 ftco-animate">
            <div class="cart-list">
                <table class="table">
                    <tbody>
                    <tr class="text-center">
                        <th> Card Amount </th>
                        <th> <input type="text" name="card" /></th>
                    </tr>
                    <tr class="text-center">
                        <th> CVV  </th>
                        <th> <input type="text" name="cvv" maxlength="3" /></th>
                    </tr>
                    <tr class="text-center">
                        <th> Total Amount</th>
                        <th> <input type="number" id="p2" name="total" value="{{total}}" readonly /></th>
                    </tr>
                    <tr class="text-center">
                        <input type="submit" value="Proceed to Pay" />
                    </tr>
                    <!-- <input type="submit" value="Proceed to Pay" /> -->
                  </tbody>
                  </table>
              </div>
        </div>
    </div>
    </div>
    </form>
</section> -->
<!-- <script>
    function getprice()
     {
       var i=document.getElementById("q1").value;
       var j=document.getElementById("p1").value;
       var result = parseInt(i) * parseInt(j);

       if (!isNaN(result))
        {
           document.getElementById('p2').value = result;
        }
     }

  </script> -->

{% endblock %}