{% extends 'user/userbase.html' %}
{% load static %}
{% block Content1 %}

<div class="hero-wrap hero-bread" style="background-image: url('{% static '/images/bg_n1.jpg' %}');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2">Payment</span></p>
          <h1 class="mb-0 bread">DETAILS</h1>
        </div>
      </div>
    </div>
  </div>
  <section class="ftco-section">
    <div class="container">
      <!-- Content -->
      <div id="content" class="colM">
  
        <div id="content-main">
<center>
<form action="/placeorder/" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>
                <h2>Product Details</h2>
            </th>
            <td></td>
        </tr>
        <tr>
            <th>Product Id<br /><br /></th>
            <td><input type="number" name="pid" value="{{pro.pid}}" readonly /><br /><br /></td>
        </tr>
        <tr>
            <th>Product Name<br /><br /></th>
            <td><input type="text" name="pname" value="{{pro.pname}}" readonly /><br /><br /></td>
        </tr>
        <tr>
            <th>Quantity<br /><br /></th>
            <td><input type="number" name="q1" id="q1" value="{{q1}}" readonly><br /><br /></td>
        </tr>
        <tr>
            <th>Price<br /><br /><br><br></th>
            <td><input type="number" id="p1" name="price" value="{{pro.price}}" readonly /> <br /><br /><br><br></td>
        </tr>
        <tr>
            <th>
                <h2>Delivery Details</h2>
            </th>
            <td></td>
        </tr>

        <tr>
            <th>First Name<br /><br /></th>
            <td><input type="text" name="fname" /><br /><br /></td>
        </tr>
        <tr>
            <th>Last name<br /><br /></th>
            <td><input type="text" name="lname" /><br /><br /></td>
        </tr>

        <tr>
            <th>Address line 1<br /><br /></th>
            <td><input type="text" name="add1" maxlength="20" /><br /><br /></td>
        </tr>
        <tr>
            <th>Address line 2<br /><br /></th>
            <td><input type="text" name="add2" maxlength="20" /><br /><br /></td>
        </tr>
        <tr>
            <th>Address line 3<br /><br /></th>
            <td><input type="text" name="add3" maxlength="20" /><br /><br /></td>
        </tr>
        <tr>
            <th>Phone Number<br /><br /></th>
            <td><input type="text" name="ph" maxlength="10" /><br /><br /></td>
        </tr>
        <tr>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <td></td>
        </tr>

        <tr>
            <th>
                <h2>Payment Details</h2><br />
            </th>
            <td></td>
        </tr>
        <tr>
            <th>Card Number<br /><br /></th>
            <td><input type="text" name="card" /><br /><br /></td>
        </tr>
        <tr>
            <th>CVV<br /><br /></th>
            <td><input type="text" name="cvv" maxlength="3" /><br /><br /></td>
        </tr>

        <tr>
            <th>Total Amount<br /><br /><br><br></th>
            <td><input type="number" id="p2" name="total" value="{{total}}" readonly /> <br /><br /><br><br></td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="Proceed to Pay" class="btn btn-success" /></td>
        </tr>

        <th></th>
        <td><br /><br /></td>
    </table>
</form>
</center>
        </div>
      </div>
    </div>
  </section>
<!-- <script>
    function getprice()
     {
       var i=document.getElementById("q1").value;
       var j=document.getElementById("p1").value;
       var result = parseInt(i) * parseInt(j);

       if (!isNaN(result))
        {
           document.getElementById('p2').value = result;
        }
     }

  </script> -->

{% endblock %}