{% extends 'user/userbase.html' %}
{% load static %}

{% block Content2 %}

<!-- slider start-->

<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url({% static 'images/bg_n1.jpg' %});">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-md-12 ftco-animate text-center">
                        <h1 class="mb-2">We are here to help you in Farming </h1>
                        <h2 class="subheading mb-4">We can develop organic vegetables &amp; fruits</h2>
                        <p><a href="shop" class="btn btn-primary">Shop now</a></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url({% static 'images/bg_n2.jpg' %});">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-sm-12 ftco-animate text-center">
                        <h1 class="mb-2">Let's Farm Together for you &amp; Nation</h1>
                        <h2 class="subheading mb-4">We can develop organic vegetables &amp; fruits</h2>
                        <p><a href="/userhome" class="btn btn-primary">Shop now</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- slider end -->

<section>
    <div class="container-xl">
        <div class="row">
            <div class="col-md-12">
                <h2>Fresh <b>Products</b></h2>
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        <div class="row">
                            {% for pro in cropview %}
                            <div class="col-sm-3">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
    
                                        <div class="product">
                             <a href="#" class="img-prod">
    
                                 <div class="img-box" style="width: 260px; height: 260px;">
    
                                        <img class="img-fluid"
                                                               src="{{pro.img}}"
                                                               alt="Colorlib Template"
                                                               style="width: 250px; height: 250px;">
                                     </div>
                             </a>
    
                                    </div>
    
                                    <div class="thumb-content">
                                        <h4>{{pro.pname}}</h4>
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <p class="item-price"><strike>₹GST</strike> <b>₹{{pro.price}}</b></p>
    
    
                                        <div>
                                            <form action ="/productview/" method="POST">
                                        {% csrf_token %}
                                        <input type="number" value="{{pro.pid}}" name="proid" hidden>
    
                                            <input  type="submit"   class="btn btn-success" value="View">
                                             <!-- <span><i class="ion-ios-menu"></i></span> -->
    
                                         </form>
                                        </div>
                                    </div>
    
                                </div>
                                <hr>
                            </div>
                            {% endfor %}
    
                            </div>
    
                        </div>
    
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
                </div>
                <!-- Carousel controls -->
    
            </div>
            </div>
        </div>
    </div>
    
    
    
    </section>

{% endblock %}