{% extends 'admin/adminbasee.html' %}
{% load static %}
{% block Content1 %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static '/images/bg_1.jpg' %}');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2">USER</span></p>
          <h1 class="mb-0 bread">DETAILS</h1>
        </div>
      </div>
    </div>
  </div>
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
        <div class="col-md-12 ftco-animate">
            <div class="cart-list">
                <table class="table">
                    <thead class="thead-primary">
                      <tr class="text-center">
                        <th> &nbsp;</th>
                        <th>User ID</th>
                        <th>&nbsp;</th>
                        <th>Name</th>
                        <th>&nbsp;</th>
                        <th>Phone Number</th>
                        <th>&nbsp;</th>
                        <th>Email</th>
                        <!-- <th>&nbsp;</th> -->
                        
                      </tr>
                    </thead>
                    <tbody>
                        {% for farmer in testing %} 
                        <tr>
                            <td>&nbsp;</td>
                            <td> {{farmer.id}}</td>
                            <td>&nbsp;</td>
                            <td> {{farmer.fname}}{{farmer.lname}}</td>
                            <td>&nbsp;</td>
                            <td> {{farmer.phone}}</td>
                            <td>&nbsp;</td>
                            <td> {{farmer.email}}</td>
                        </tr>
                             
                        {% endfor %}  
                    </tbody>
                  </table>
              </div>
        </div>
    </div>
    </div>
</section> 

{% endblock %}

